@import 'fonts';

$navbar-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.27);
$navbar-height: 48px;

body {
  margin: 0;
}

h1, p {
  -webkit-font-smoothing: antialiased;
}

.cover {
  width: 100%;
  height: 100vh;
  margin-bottom: 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cover-hed {
  margin-bottom: 60px;

  header {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 760px;
    color: #fff;
    transform: translateY(-150%); // TODO: do better;
    align-items: center;

    .byline {
      text-align: center;
    }
  }
}

.deck-overlay {
  margin-bottom: 28px;

  .cover {
    position: sticky;
    top: 0;
    left: 0;
    z-index: -1;
    margin-bottom: 0;
  }
}

#video-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 36px 15px;

  p {
    margin: 0;
  }

  .headline {
    font-size: 25px;
    margin: 0;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 14px;
    text-align: center;
  }

  .deck {
    font-family: Graphik;
    font-size: 20px;
    line-height: 1.45;
    margin-bottom: 14px;
    text-align: center;
  }

  .byline {
    font-weight: 700;
    font-family: Graphik;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
    white-space: pre-wrap;
  }
}

.video-step {
  padding-bottom: 90vh;
  font-family: Georgia, serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.63;
  text-align: center;
  margin-bottom: 0;
}

.g-body {
  max-width: 600px;
  width: calc(100% - 40px);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.credits {
  margin-bottom: 30px;

  p {
    font-family: Graphik;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 12px;
  }

  p.date {
    font-weight: 400;
  }
}

#navbar {
  display: flex;
  width: 100%;
  height: $navbar-height;
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
  transition-duration: .2s;
  box-shadow: $navbar-shadow;
}

#navbar.only-logo {
  background: none;
  box-shadow: none;

  #nav-links {
    opacity: 0;
  }
}

.logo-container {
  display: flex;
  justify-content: space-between;
  height: 48px;
  z-index: 1;
}

.eye-logo {
  width: 96px;
  height: 100px;
}

.hamburger-btn {
  align-self: center;
  height: 18px;
  border: none;
  cursor: pointer;
  width: 18px;
  padding: 0;
  margin-right: 20px;
  display: none;
}

#navbar:not(.show-nav-links) {
  .hamburger, .hamburger-btn:after, .hamburger-btn:before {
    background-color: #111;
    height: 2px;
    margin-bottom: 4px;
    width: 100%;
  }

  .hamburger-btn:after {
    content: "";
    display: block;
    margin-bottom: 0;
  }

  .hamburger-btn:before {
    content: "";
    display: block;
  }
}

#nav-links {
  flex-grow: 1;  
  display: flex;
  align-items: center;
  transition-duration: .2s;

  a {
    margin: 0;
    margin-left: 42px;
    font-family: Graphik;
    font-size: 14px;
    color: #121212;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 660px) {
  #navbar {
    flex-direction: column;
  }

  #nav-links {
    visibility: hidden;
    flex-direction: column;
    transition-duration: .2s;

    a {
      width: 100%;
      text-align: center;
      background: #fff;
      padding: 17px 0;
      margin-left: 0;
    }
  }

  #navbar.show-nav-links {
    .hamburger-btn {
      background: url(../assets/svg/icon-close.svg) no-repeat 50% content-box;
      background-size: 86% auto;
    }

    #navbar {
      box-shadow: none;
    }

    #nav-links {
      visibility: visible;
      box-shadow:
        0 -10px white, // White shadow to mask top box-shadow
        $navbar-shadow;
    }

    .logo-container {
      border-bottom: 1px solid #ddd;
    }
  }

  .hamburger-btn {
    display: block;
  }
}

.paragraph {
  margin-bottom: 20px;
  font-family: Georgia, serif;
  font-size: 19px;
  line-height: 1.63;
}

.image {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
  }
}

.graphic {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.spectate-footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}

.spectate-footer:hover {
  opacity: 1;
}